/* Mobile First */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0f3c2f;
    color: white;
    font-family: Arial, sans-serif;
}

a {
    color: #79c9a2;
}

img {
    max-width: 100%;
}

/* ШАПКА */

#header {
    width: 100%;
    background-color: black;
    padding: 15px;
}

.header-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  
}

/* Логотип */

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #0d3d2f;
  
}

/* Меню */

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

    #menu a {
        color: lightseagreen;
        margin: 0;
    }

/* Название */

.site-name {
    order: 3;
}

    .site-name h1 {
        margin: 0;
        text-align: center;
    }

/* КОНТЕНТ */

.content {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

    .content h1,
    .content h2 {
        text-align: center;
    }

/* СПИСКИ */

li {
    margin-bottom: 8px;
}

/* ТАБЛИЦА */

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 500px;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: black;
}

tbody tr:nth-child(odd) {
    background-color: #0a3327;
}

tbody tr:nth-child(even) {
    background-color: #0d3d2f;
}

/* ФОРМА */

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
select,
textarea {
    width: 100%;
    max-width: 500px;
    padding: 8px;
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    width: 150px;
    padding: 10px;
    cursor: pointer;
}

/* ПОДВАЛ */

#footer {
    width: 100%;
    background-color: black;
    padding: 20px;
    color: white;
    margin-top: 30px;
}

.footer-content {
    width: 100%;
    text-align: center;
}

/* ПЛАНШЕТ / ПК */

@media (min-width: 768px) {
    .header-content {
        max-width: 960px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    #menu {
        flex-direction: row;
        gap: 20px;
    }
        #menu a {
            margin: 0;
        }
    .site-name {
        order: 0;
    }
        .site-name h1 {
            text-align: left;
        }
    .content {
        max-width: 960px;
    }
}

/* БОЛЬШОЙ ЭКРАН */

@media (min-width: 1000px) {
    .header-content {
        padding: 0 20px;
    }
    .content {
        padding: 20px 0;
    }
}
